## Build output
bin/
obj/

## Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Windows
Thumbs.db
Desktop.ini

## Rider / JetBrains
.idea/

## Release folder - keep the folder, ignore its contents
release/*
!release/.gitkeep
